# [START swagger]
swagger: "2.0"
host: "api.endpoints.sundaya.cloud.goog"
x-google-endpoints:
- name: "api.endpoints.sundaya.cloud.goog"
  target: "34.80.69.65"
basePath: "/"
info:
  title: "Energy Management"
  version: "0.0.09"
  description: |
    The Energy Management API provides energy accounting for four energy **Types**:

    `harvest`, `store`, `enjoy`, `grid`
    
    The `/energy` path provides periodic consolidation of data from energy monitoring devices (*week*, *month* etc.) 
    
    API clients can manage energy **Assets** through graphical views and by scheduling energy use at preferred times. 
    
    The `/devices` path is for vendors and field engineers to monitor and control the operation of energy management **Devices**.
    
    Type | Assets | Devices
    --- | --- | ---
    `harvest` | Renewables | PV Modules, Maximum Power Point Trackers (MPPT), Charge Controllers
    `store` | Storage | Busbar Controllers (BBC), Pack Management Systems (PMS)
    `enjoy` | Appliances | Multicore-Cable Current Sensors, Switchboard Clamp Sensors
    `grid` | Mains Electricity | Smart Meters, PV Grid-interactive Inverters
    
  license:
    name: "Creative Commons Attribution 4.0 International"
    url: "http://creativecommons.org/licenses/by/4.0/"
  termsOfService: "https://sundaya.com/terms-of-service/"
# [END swagger]
schemes:
# Uncomment after configuring SSL.
#- "https"
- "http"
paths:
  "/api/versions":
    get:
      description: "Returns a list of versions which are still supported. Older versions may be requested through an `Accept` request header (see _Versions_ in [`Standards & Conventions`](https://endpointsportal.sundaya.cloud.goog/docs/api.endpoints.sundaya.cloud.goog/0/c/Getting%20Started/Standards%20&%20Conventions/Overview))."
      operationId: "diagnostics.api.versions.get"
      consumes:
      - ""
      produces:
      - "application/json"
      parameters:
      - $ref: '#/parameters/api-key'
      responses:
        "200":
          $ref: "#/responses/200-ok"
        "401":
          $ref: "#/responses/401-unauthorized"
        "500":
          $ref: "#/responses/500-internal-server-error"
      tags:
        - "Diagnostics"
  "/energy/{energy}/period/{period}/{epoch}/{duration}":
    get:
      description: "Retrieves energy monitoring data for a period. [Try this API](http://api.endpoints.sundaya.cloud.goog/energy/hse/period/week/20150204/1?site=999)"
      operationId: "energy.period.epoch.duration.get"
      consumes:
      - "application/json"
      produces:
      - "application/vnd.collection+json"
      - "application/json"
      - "text/html"
      - "text/plain"
      parameters:
      - $ref: "#/parameters/energy"  
      - $ref: "#/parameters/period"
      - $ref: "#/parameters/epoch"
      - $ref: "#/parameters/duration"
      - $ref: "#/parameters/site"
      - $ref: "#/parameters/product-catalogue-items"
      - $ref: '#/parameters/api-key'
      responses:
        "200":
          $ref: "#/responses/200-energy-data"
        "400":
          $ref: "#/responses/400-bad-request"
        "401":
          $ref: "#/responses/401-unauthorized"
        "404":
          $ref: "#/responses/404-not-found"
        "415":
          $ref: "#/responses/415-unsupported-media-type"
        "500":
          $ref: "#/responses/500-internal-server-error"
      tags:
        - "Energy" 
  "/devices/dataset/epack":
    post:
      description: "Logs monitoring data for the pack management system (PMS) including data for each cabinet and its battery packs."
      operationId: "devices.dataset.pms-epack.post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/device-dataset-epack"
      - $ref: '#/parameters/api-key'
      responses:
        "201":
          $ref: "#/responses/201-created"
        "400":
          $ref: "#/responses/400-bad-request"
        "401":
          $ref: "#/responses/401-unauthorized"
        "415":
          $ref: "#/responses/415-unsupported-media-type"
        "500":
          $ref: "#/responses/500-internal-server-error"
      tags:
        - "Devices"
  "/device/{device-id}/dataset/{dataset}/period/{period}/{epoch}/{duration}":
    get:
      description: "Returns device data for a period. [Try this API](http://api.endpoints.sundaya.cloud.goog/device/CAB-01-001/dataset/pms-epack)"
      operationId: "device.dataset.period.epoch.duration.get"
      consumes:
      - ""
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/device-id"
      - $ref: "#/parameters/dataset"
      - $ref: "#/parameters/period"
      - $ref: "#/parameters/epoch"
      - $ref: "#/parameters/duration"
      - $ref: '#/parameters/api-key'
      responses:
        "200":
          $ref: "#/responses/200-ok"
        "400":
          $ref: "#/responses/400-bad-request"
        "401":
          $ref: "#/responses/401-unauthorized"
        "404":
          $ref: "#/responses/404-not-found"
        "415":
          $ref: "#/responses/415-unsupported-media-type"
        "500":
          $ref: "#/responses/500-internal-server-error"
      tags:
        - "Devices"
  "/device/{device-id}/configs/period/{period}/{epoch}/{duration}":
    get:
      description: "Returns historical configuration data for a period, including identifiers of subitems such as battery assembly, MCU board, and Mosfet board. . [Try this API](http://api.endpoints.sundaya.cloud.goog/device/BBC-PR1202-999/configs/period)"
      operationId: "device.configs.period.get"
      consumes:
      - ""
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/device-id"
      - $ref: "#/parameters/period"
      - $ref: "#/parameters/epoch"
      - $ref: "#/parameters/duration"
      - $ref: '#/parameters/api-key'
      responses:
        "200":
          $ref: "#/responses/200-ok"
        "400":
          $ref: "#/responses/400-bad-request"
        "401":
          $ref: "#/responses/401-unauthorized"
        "404":
          $ref: "#/responses/404-not-found"
        "415":
          $ref: "#/responses/415-unsupported-media-type"
        "500":
          $ref: "#/responses/500-internal-server-error"
      tags:
        - "Devices"
parameters:
  api-key:
    description: The API key.
    in: header
    name: api_key
    required: true
    type: string
  dataset:  
    in: path
    name: "dataset"
    required: true
    description: "The type of dataset."
    type: string
    enum:
    - "epack"
    - "mppt"
    - "inverter"
  device-dataset-epack:
    description: "Data logged by the PMS for epacks in a cabinet."
    in: body
    name: "datasets"
    required: true
    schema:
      description: "An array of devices and event data items."
      type: object
      properties:
        datasets:
          items:
            $ref: "#/definitions/epackCabinet"
          type: array
  device-id:
    description: "The device identifier."
    in: path
    name: "device-id"
    required: true
    type: string
  duration:
    description: "The number of periods to return starting at epoch. This defaults to 1."
    in: path
    name: "duration"
    type: integer
    format: int64
  energy:
    description: "The type of energy flow."
    in: path
    name: "energy"
    type: string
    default: "hse"
    enum:
      - "hse"
      - "harvest"
      - "store"
      - "enjoy"
      - "grid"
  epoch:
    description: "The start date (and time) of the period, in compressed `ISO 8601/RFC3339` (YYYYMMDDThhmmss±hhmm) and formatted according to the period."
    in: path
    name: "epoch"
    type: string
    format: date-time
    default: "20190325"
  period:
    description: "The time window for which total energy is aggregated. The only exception is 'instant' which measures energy at a single point in time, without aggregation."
    in: path
    name: "period"
    type: string
    default: "week"
    enum:
      - "instant"
      - "second"
      - "minute"
      - "hour"
      - "timeofday"
      - "day"
      - "week"
      - "month"
      - "quarter"
      - "year"
      - "fiveyear"
  product-catalogue-items:
    description: "An optional product filter to restrict data to specific categories, subcategories and product types."
    in: body
    name: "productCatalogueItems"
    required: false
    schema:
      description: "A list of product catalogue items to filter the energy data query."
      type: object
      properties:
        productCatalogueItems:
          items:
            $ref: '#/definitions/productCatalogueItem'
          type: array
  site:  
    description: "The customer site where energy assets are installed."
    in: query
    name: "site"
    required: true
    type: string
responses:
  200-ok:
    description: "Data retrieved."
    schema:
      $ref: "#/definitions/genericMessage"
  200-energy-data:
    description: "Energy data items collection."
    schema:
      type: object
      properties:
        collection:
          $ref: "#/definitions/collection"
  201-created:
    description: "Resource created."
    schema:
      $ref: "#/definitions/genericMessage"
    headers:
      Location:
        description: "One or more [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) headers provide links back to the created resource."
        type: string
  400-bad-request:
    description: "The client specified an invalid argument."
    schema:
      $ref: "#/definitions/genericMessage"
  401-unauthorized:
    description: "The client does not have sufficient permission."
    schema:
      $ref: "#/definitions/genericMessage"
  404-not-found:
    description: "The resource was not found."
    schema:
      $ref: "#/definitions/genericMessage"
  415-unsupported-media-type:
    description: "The requested Accept header type is not supported."
    schema:
      $ref: "#/definitions/genericMessage"
  500-internal-server-error:
    description: "The server encountered an unexpected condition."
    schema:
      $ref: "#/definitions/genericMessage"
definitions:
  collection:
    description: "A Collection+JSON message consisting of Items and Data."
    type: object
    required:
    - "version"
    - "href"
    - "links"
    - "items"
    properties:
      version:
        type: string
      href:
        type: string
      links:
        $ref: "#/definitions/collectionLinks"
      items:
        $ref: "#/definitions/collectionItems"
  collectionItems:
    description: "Items container for Links and Data in a Collection+JSON message."
    type: array
    items:
      type: object
      required:
      - "href"
      - "links"
      - "data"
      properties:
        href:
          type: string
        links:
          $ref: "#/definitions/collectionLinks"
        data:
          $ref: "#/definitions/collectionData"    
  collectionData:
    description: "Top level Data in a Collection+JSON message."
    type: array
    items:
      type: object
      required:
      - "name"
      - "value"
      - "data"
      properties:
        name:
          type: string
        value:
          type: string
        data:
          $ref: "#/definitions/collectionDataDetail"
  collectionDataDetail:
    description: "Second level Data in a Collection+JSON message."
    type: array
    items:
      type: object
      required:
      - "name"
      - "value"
      properties:
        name:
          type: string
        value:
          type: string
  collectionLinks:
    description: "Links in a Collection+JSON message."
    type: array
    items:
      type: object
      required:
      - "rel"
      - "name"
      - "prompt"
      - "title"
      - "href"
      - "render"
      properties:
        rel:
          type: string
        name:
          type: string
        prompt:
          type: string
        title:
          type: string
        href:
          type: string
        render:
          type: string
  genericMessage:
    description: "Code and status with message details."
    type: object
    required:
    - "status"
    - "message"
    - "details"
    properties:
      status:
        description: "The response or error status code."
        type: string
        example: "400"
      message:
        description: "The summary description of the response or error."
        type: string
        example: "Illegal input for operation."
      details:
        type: array
        items:
          $ref: "#/definitions/genericMesssageDetail"
  genericMesssageDetail:
    description: "Message details provide additional information about a message target."
    type: object
    required:
    - "message"
    - "target"
    properties:
      message:
        description: "The message text describing an error or response condition for the target."
        type: string
        example: "NullValue"
      target:
        description: "The target of the detail message."
        type: string
        example: "period parameter"
  productCatalogueItem:
    description: "A product catalogue item definition."
    type: object
    required:
    - "productCategory"
    - "productSubcategory"
    - "productType"
    properties:
      productCategory:
        description: "A valid product Category."
        type: string
        example: "Solutions"
        enum:
        - "Components"
        - "Solutions"
        - "Solutions & Components"
      productSubcategory:
        description: "A valid Subcategory for the provided product Category."
        type: string
        example: "Solar Home Kits"
        enum:
        - "Harvest"
        - "Counting"
        - "Replacing"
        - "Solar Home Kits"
        - "Saving & Enjoy"   
      productType:
        description: "A valid product Type for the product Category and Subcategory."
        type: string
        example: "JouleBox"
        enum:
        - "Electricity Meter"
        - "LED Lighting"
        - "Air Conditioning"
        - "Industrial PV"
        - "Residential PV"
        - "Home Battery"
        - "Ulitium"
        - "JouleBox"
        - "PV Solar Panel"
  datasetType:
    description: "The type of dataset."
    type: string
    enum:
    - "epack"
    - "mppt"
    - "inverter"
  epackCabinet:
    description: "The device dataset contains a set of data items sampled from the device at a specified eventTime."
    type: object
    required:
    - "eventTime"
    - "cabinet"
    - "data"      
    properties:
      eventTime:
        $ref: "#/definitions/eventTime"
      cabinet:
        description: "The identifier of the cabinet which contains the packs in this dataset."
        type: string
      data:
        $ref: "#/definitions/epackData"
  epackData:
    description: "A set of data sampled from all packs in the cabinet, at the same eventTime."
    type: array
    items:
      type: object
      required:
      - "pack"
      - "cell"
      - "fet"
      properties:
        pack:
          description: "The datapoints for the pack as a whole."
          type: object
          required:
          - "id"
          - "slot"
          - "amps"
          - "soc"
          - "temp"
          properties:
            id:
              description: "The pack identifier."
              type: string
              example: "NullValue"
            slot:
              description: "The cabinet slot number (1 - 12) in which this pack is installed."
              type: string
              example: "12"
            amps:
              description: "The current draw from this pack."
              type: string
              format: float
              example: "1.05"
            soc:
              description: "The % state of charge of this pack."
              type: string
              format: float
              example: "94.3"
            temp:
              description: "The temperature of the cell-pack top, middle, and bottom."
              type: object
              required:
              - "top"
              - "middle"
              - "bottom"
              properties:
                top:
                  $ref: "#/definitions/temperature"
                middle:
                  $ref: "#/definitions/temperature"
                bottom:
                  $ref: "#/definitions/temperature"
        cell:
          description: "A set of data sampled cellblocks inside this pack."
          type: object
          required:
          - "volts"
          properties:
            volts:
              description: "Voltage readings for 14 cellblocks in this pack."
              type: array
              items:
                type: string
                format: float
                example: "12"
        fet:
          description: "The data readings for input (CMOS) and output (DMOS) MOSFETS."
          type: object
          required:
          - "temp"
          - "status"
          properties:
            temp:
              description: "The temperature of the input (CMOS) and output (DMOS) MOSFETS."
              type: object
              required:
              - "in"
              - "out"
              properties:
                in:
                  $ref: "#/definitions/temperature"
                out:
                  $ref: "#/definitions/temperature"
            status:
              description: "The status of the input (CMOS) and output (DMOS) MOSFETS."
              type: object
              required:
              - "in"
              - "out"
              properties:
                in:
                  description: "CMOS status (1=open/0=closed)."
                  type: boolean
                  example: "0"
                out:
                  description: "DMOS status (1=open/0=closed)."
                  type: boolean
                  example: "1"
  temperature:
    description: "Temperature in degrees Centigrade."
    type: string
    format: float
    example: "34.0"
  eventTime:
    description: "The time of the event which produced this dataset, in compressed `ISO 8601/RFC3339` (YYYYMMDDThhmmss±hhmm)."
    type: string
    format: date-time
# This section requires all requests to any path to require an API key.
# [START securityDef]
security:
- api_key: []
securityDefinitions:
  # This section configures basic authentication with an API key.
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"
# [END securityDef]
  # This section configures authentication using Google API Service Accounts
  # to sign a json web token. This is mostly used for server-to-server
  # communication.
  google_jwt:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    # This must match the 'iss' field in the JWT.
    x-google-issuer: "jwt-client.endpoints.sample.google.com"
    # Update this with your service account's email address.
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/jwk/YOUR-SERVICE-ACCOUNT-EMAIL"
    # This must match the "aud" field in the JWT. You can add multiple audiences to accept JWTs from multiple clients.
    x-google-audiences: "echo.endpoints.sample.google.com"
  # This section configures authentication using Google App Engine default
  # service account to sign a json web token. This is mostly used for
  # server-to-server communication.
  gae_default_service_account:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    # Replace YOUR-CLIENT-PROJECT-ID with your client project ID.
    x-google-issuer: "YOUR-CLIENT-PROJECT-ID@appspot.gserviceaccount.com"
    # Replace YOUR-CLIENT-PROJECT-ID with your client project ID.
    x-google-jwks_uri: "https://www.googleapis.com/robot/v1/metadata/x509/YOUR-CLIENT-PROJECT-ID@appspot.gserviceaccount.com"
    # This must match the "aud" field in the JWT. You can add multiple audiences to accept JWTs from multiple clients.
    x-google-audiences: "echo.endpoints.sample.google.com"
  # This section configures authentication using a service account
  # to sign a json web token. This is mostly used for server-to-server
  # communication.
  google_service_account:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    # Replace YOUR-SERVICE-ACCOUNT-EMAIL with your service account email.
    x-google-issuer: "YOUR-SERVICE-ACCOUNT-EMAIL"
    # Replace YOUR-SERVICE-ACCOUNT-EMAIL with your service account email.
    x-google-jwks_uri: "https://www.googleapis.com/robot/v1/metadata/x509/YOUR-SERVICE-ACCOUNT-EMAIL"
    # This must match the "aud" field in the JWT. You can add multiple audiences to accept JWTs from multiple clients.
    x-google-audiences: "echo.endpoints.sample.google.com"
  # This section configures authentication using Google OAuth2 ID Tokens.
  # ID Tokens can be obtained using OAuth2 clients, and can be used to access
  # your API on behalf of a particular user.
  google_id_token:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://accounts.google.com"
    x-google-jwks_uri: "https://www.googleapis.com/oauth2/v3/certs"
    # Your OAuth2 client's Client ID must be added here. You can add multiple client IDs to accept tokens form multiple clients.
    x-google-audiences: "YOUR-CLIENT-ID"
  # This section configures authentication using Firebase Auth.
  # [START firebaseAuth]
  firebase:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://securetoken.google.com/YOUR-PROJECT-ID"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "YOUR-PROJECT-ID"
  # [END firebaseAuth]