# [START swagger]
swagger: "2.0"
host: "api.endpoints.sundaya2.cloud.goog"
basePath: /
x-google-endpoints:
- name: "api.endpoints.sundaya2.cloud.goog"
  target: "34.80.69.65"
info:
  title: "Energy Management"
  version: "1.0.02"
  description: |
    Energy Management is based on four energy types:    
    `harvest`, `store`, `yield`, `grid`. 
    
    The API provides energy metrics for a given period (week, month etc.) and allows client applications to manage **Energy Assets** through graphical views and by scheduling energy use at preferred times. 
    Vendor device integrations can use the API to monitor and control their **Energy Management Devices**.
    
    Energy Type | Energy Assets | Energy Management Devices
    --- | --- | ---
    `harvest` | Renewables | PV Modules, PV Grid-interactive Inverter
    `store` | Storage | Busbar Controler (BBC), Pack Management System (PMS)
    `yield` | Appliances | Multicore-Cable Current Sensors, Clamp-on Current Sensors
    `grid` | Mains Electricity | Smart Meters

  license:
    name: "Creative Commons Attribution 4.0 International"
    url: "http://creativecommons.org/licenses/by/4.0/"
  termsOfService: "https://sundaya.com/terms-of-service/"
# [END swagger]
consumes:
- "application/json"
- "application/vnd.collection+json"
produces:
- "application/vnd.collection+json"
schemes:
- "http"
tags:
  - description: |
      Devices monitor device health and energy flows and provide metrics for applicaitons.

        For example, vendor integrations use the data to control and manage the device. 
        Client applications use the data to analyse energy Flows across :harvest, store, yield, grid.
    name: Device Monitoring Data
paths:
  "/energy/{energyEnum}/periods/{periodEnum}/{epoch}":
    get:
      description: Retrieves HSY monitoring data for the requested periods
      operationId: "EnergyPeriodsGet"
      produces:
      - "application/vnd.collection+json"
      responses:
        "200":
          description: Monitoring data retrieved successfully
          schema:
            $ref: "#/definitions/energyData"
        "401":
          description: The client does not have sufficient permission
          schema:
            $ref: "#/definitions/accessDenied"
        "404":
          description: The specified resource was not found
          schema:
            $ref: "#/definitions/notFound"
      parameters:
      - name: energyEnum
        in: path
        required: true
        description: "The energy type."
        enum:
          - hsy
          - harvest
          - store
          - yield
          - grid
        type: string
      - name: periodEnum
        in: path
        required: true
        description: "The energy monitoring time window"
        enum:
          - instant
          - second
          - hour
          - timeofday
          - day
          - week
          - month
          - quarter
          - year
          - 5year
        type: string
      - name: epoch
        in: path
        required: false
        description: "The start date (and time) of the period. Must be in compressed ISO 8601/RFC3339 (YYYYMMDDThhmmss±hhmm)"
        type: string
        format: date-time
        example: "20190209T150012-0330"
      - name: siteId
        in: query
        required: true
        description: "The site identifier of the installation"
        type: string
  "/devices/{deviceId}/datasets/{datasetType}":    
    post:
      description: "Logs monitoring data for a device."
      operationId: "devicesDatasetsPost"
      produces:
      - "application/json"
      parameters:
      - name: deviceId
        in: path
        required: true
        description: "The device identifier"
        type: string
        example: BBC-PR1202-999
      - name: deviceData
        in: body
        required: true
        description: Energy Management Device monitoring data
        schema:
          $ref: "#/definitions/deviceData"
      - name: datasetType
        in: path
        required: true
        description: "The type of dataset."
        enum:
          - SNMP
          - EPACK
        type: string
      responses:
        "201":
          description: "Monitoring data was logged successfully"
          headers:
            Location:
              description: |
                A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location of the new resource.
              type: string
          schema:
            $ref: "#/definitions/echoMessage"
        "400":
          description: The client specified an invalid argument
          schema:
            $ref: "#/definitions/invalidRequest"
        "401":
          description: The client does not have sufficient permission
          schema:
            $ref: "#/definitions/accessDenied"
  "/echo":
    post:
      description: "Echo back a given message."
      operationId: "echoPost"
      produces:
      - "application/json"
      responses:
        "200":
          description: "Echo"
          schema:
            $ref: "#/definitions/echoMessage"
      parameters:
      - description: "Test, echo back request body"
        in: body
        name: message
        required: true
        schema:
          $ref: "#/definitions/echoMessage"
definitions:
  generalError:
    properties:
      code:
        description: The error code.
        example: NullValue
        type: string
      message:
        description: The error message.
        example: Illegal input for operation
        type: string
      target:
        description: The error target.
        example: Period
        type: string
    type: object
  invalidRequest:
    type: object
    properties:
      code:
        description: The error code.
        example: "400"
        type: string
      details:
        items:
          $ref: "#/definitions/generalError"
        type: array
      message:
        description: The error message.
        example: The client specified an invalid argument
        type: string
      status:
        description: The error status.
        example: INVALID_ARGUMENT
        type: string
  accessDenied:
    properties:
      code:
        description: The error code.
        example: "403"
        type: string
      details:
        items:
          $ref: "#/definitions/generalError"
        type: array
      message:
        description: The error message.
        example: The client does not have sufficient permission
        type: string
      status:
        description: The error status.
        example: PERMISSION_DENIED
        type: string
    type: object
  notFound:
    properties:
      code:
        description: The error code.
        example: "404"
        type: string
      details:
        items:
          $ref: "#/definitions/generalError"
        type: array
      message:
        description: The error message.
        example: The specified resource was not found
        type: string
      status:
        description: The error status.
        example: NOT_FOUND
        type: string
    type: object
  energyData:
    description: A collection of data items for a monitoring period
    properties:
      collection:
        type: object
        title: The Collection Schema
        required:
        - version
        - href
        - links
        - items
        properties:
          version:
            type: string
            title: The Version Schema
            example:
            - "0.2"
            pattern: ^(.*)$
          href:
            type: string
            title: The Href Schema
            example:
            - http:/api.endpoints.sundaya.cloud.goog/hsy/week/20190210
          links:
            type: array
            title: The Links Schema
            items:
              type: object
              title: The Items Schema
              required:
              - rel
              - name
              - prompt
              - title
              - href
              properties:
                rel:
                  type: string
                  title: The Rel Schema
                  example:
                  - collection
                name:
                  type: string
                  title: The Name Schema
                  example:
                  - week.month
                prompt:
                  type: string
                  title: The Prompt Schema
                  example:
                  - Month
                title:
                  type: string
                  title: The Title Schema
                  example:
                  - February
                href:
                  type: string
                  title: The Href Schema
                  example:
                  - http:/api.endpoints.sundaya.cloud.goog/energy/hsy/period/month/201902
          items:
            type: array
            title: The Items Schema
            items:
              type: object
              title: The Items Schema
              required:
              - href
              - data
              properties:
                href:
                  type: string
                  title: The Href Schema
                  example:
                  - http:/api.endpoints.sundaya.cloud.goog/hsy/day/20190204
                links:
                  type: array
                  title: The Links Schema
                  items:
                    type: object
                    title: The Items Schema
                    required:
                    - rel
                    - name
                    - prompt
                    - title
                    - href
                    properties:
                      rel:
                        type: string
                        title: The Rel Schema
                        default: ""
                        example:
                        - item
                      name:
                        type: string
                        title: The Name Schema
                        default: ""
                        example:
                        - day
                      prompt:
                        type: string
                        title: The Prompt Schema
                        example:
                        - Day
                      title:
                        type: string
                        title: The Title Schema
                        example:
                        - Monday
                      href:
                        type: string
                        title: The Href Schema
                        example:
                        - http:/api.endpoints.sundaya.cloud.goog/hsy/day/20190204
                      render:
                        type: string
                        title: The Render Schema
                        default: ""
                        example:
                        - link
                data:
                  type: array
                  title: The Data Schema
                  items:
                    type: object
                    title: The Items Schema
                    required:
                    - name
                    - value
                    properties:
                      name:
                        type: string
                        title: The Name Schema
                        example:
                        - harvest.day
                      value:
                        type: string
                        title: The Value Schema
                        example:
                        - "15396"
    type: object
  deviceData:
    description: A dataset for a device
    properties:
      template:
        type: object
        title: The Template Schema
        required:
        - data
        properties:
          data:
            type: array
            title: The Data Schema
            items:
              type: object
              title: The Items Schema
              required:
              - name
              - value
              properties:
                name:
                  type: string
                  title: The Name Schema
                value:
                  type: string
                  title: The Value Schema
    type: object
  echoMessage:
    type: "object"
    properties:
      message:
        type: "string"
# This section requires all requests to any path to require an API key.
security:
- api_key: []
securityDefinitions:
  # This section configures basic authentication with an API key.
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"